# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
bower_components/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# MacOS
.DS_Store

# Visual Studio Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
vendor/
.bundle/

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
*.swp
*~
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
